html, body, h1, h2, h3, h4, ul, ol, li, p, a, label {
    font-family: "Open Sans", helvetica, sans-serif;
}

html, body. div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

img {
	border-radius: 1%;
}
p {
	font-size: 20px;
}

.head {
	background-color: #3393D0;
	min-height: 8%;
}

.navbar-header img {
	max-height: 50px;
}

.navbar {
	padding:20px;
	margin-bottom: 0px;
}

.landing {
	height:100vh;
}
.container-fluid {
	padding: 0px;
	overflow-x: hidden;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 

  display: flex;
  align-items: center;
 }

.navbar-default {
	border-color: #3393D0;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand  {
	color:white;
	font-family: helvetica, sans-serif;
	font-size: 18px;
}

.featured {
	background-color: blue;
}

.donate {
	background-image: url(../images/IntroBackground.jpg);
	background-size: cover;	
	/**background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	background-size: 100%;
	height:100vh;**/
	min-height: 92%;
	overflow-x: hidden; 
	overflow-y: hidden; 	
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 

  display: flex;
  align-items: center;
}


.instagram {
	min-height: 100px;
}




													/** styling for blog page**/

.blogintrocaption {
    top:0;
    left:45px;
    position: absolute;
    max-width: 95%;
}


.blog h1, .blog h2, .blog h3, .blog p, .blog h1 {
	padding:0 2%;
}

.blogposts img{
	margin-bottom: 2%;
}

.blogintroimg:hover {
	box-shadow: 0 .5em 2em rgba(0,0,0,0.4);
}

.subscribe{
	margin-top: 30px;
}

.post {
	min-height: 525px;
	line-height:1.7 !important;
	margin-bottom: 1%
}

.lead {
	margin-top: 2%;
}

													/**single post page styling**/

.singlepagepost img {
	margin-bottom: 3%;
}

.singlepagepost h2 {
	color: #999;
	padding: 1% 0 0 2%;
}

.singlepagepost p{
	padding:1% 0;
}

.singlepagepost {
	line-height: 30px;
}

.quote {
	padding-left: 5%;
}

.quote p {
	padding-top: 0;

}

.quote h2 {
	padding-left: 0;

}
.cta {
	padding: 3%;
	background-color: #DDD;
	border-radius: 3%;
}

.imagewrap {
	margin-right: 1%;
	padding-bottom: 0;
}

@media only screen and (max-width : 768px) {
.navbar-default .navbar-nav > li > a, .navbar-nav .dropdown-menu  > li > a   {
	color:black;
	background-color: white;
}

}

button {
	background-color: #3393D0;
	padding: 20px 80px;
	border-radius: 8px;
	border: none;
	margin-top: 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #3393D0;

}

button a {
	font-family: helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
}

button a:hover {
	text-decoration: none;
	color: #fff;
}

button:hover {
	background-color: transparent;
	border: 2px solid #3393D0;
}

.donateContent {
	position: relative;
/**	top: 15%;												**************
	transform: translateY(-25%); 				Any what are you doing with these two lines?**/
	color: #fff;
}

.donateContent h2 {
	font-size: 60px;
	line-height: 80px;
	font-weight: 500;
	margin-bottom: 30px;
}

.donateContent p {
	font-weight: 300;
	text-align: left;
	margin-bottom: 45px;
}

li .donateLink {
	color: #ffff00;
}

.donateLink:hover {
	color: #fff;
}

.featured {
	/**height:100vh;**/
	background-color: #fff;
}

.featured h3 {
	font-size: 32px;
	font-weight: 400;
	color: #3393d0;
	margin-top: 5%;
	margin-bottom: 60px;
	min-height: 100%;		
}

.featured img {
	width: 100%;
	min-height: 50%;						/**so that things don't overlay on mobile**/
	border-radius: 0;
}

#FeaturedStory {
	padding-left: 20px;
	padding-right: 50px;
}

#FeaturedStory h4 {
	text-align: left;
	font-weight: 400;
	font-size: 32px;
	color: #505050;
	margin-top: 0;
}

hr {
	background-color: #3393d0;
	width: 15%;
	margin-left: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 5px;
}

#FeaturedStory h5 {
	font-size: 22px;
	font-weight: 600;
	color: #3393D0;
	text-align: left;
	margin-top: 60px;
}

#FeaturedStory p {
	text-align: left;
	color: #505050;
	padding-bottom: 30px;
	line-height: 32px;
}

a {
	color: #3393d0;
	text-decoration: none;
	font-size: 28px;
	font-weight: 500;
}

a:hover {
	color: #505050;
	text-decoration: none;
}

 
