html, body, h1, h2, h3, h4, ul, ol, li, p, a, label {
    font-family: "Open Sans", helvetica, sans-serif;
}

html, body. div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

p {
	font-size: 20px;
	color: #505050;
	line-height: 32px;
}
/*|----------------------------|*/
/*| Padding and Margin Classes |*/
/*|----------------------------|*/
.pad-x {
    padding: 0px;
}

.pad-top-x {
    padding-top: 0px;
}

.pad-right-x {
    padding-right: 0px;
}

.pad-bottom-x {
    padding-bottom: 0px;
}

.pad-left-x {
    padding-left: 0px;
}

.pad-1x {
    padding: .5em;
}

.pad-top-1x {
    padding-top: .5em;
}

.pad-right-1x {
    padding-right: .5em;
}

.pad-bottom-1x {
    padding-bottom: .5em;
}

.pad-left-1x {
    padding-left: .5em;
}

.pad-2x {
    padding: 1em;
}

.pad-top-2x {
    padding-top: 1em;
}

.pad-right-2x {
    padding-right: 1em;
}

.pad-bottom-2x {
    padding-bottom: 1em;
}

.pad-left-2x {
    padding-left: 1em;
}

.pad-top-3x {
    padding-top: 2em;
}

.pad-right-3x {
    padding-right: 30px;
}

.pad-bottom-3x {
    padding-bottom: 2em;
}

.pad-left-3x {
    padding-left: 2em;
}

.margin-auto {
	margin: auto;
}

.margin-x {
    margin: 0px !important;
}

.margin-top-x {
    margin-top: 0px;
}

.margin-right-x {
    margin-right: 0px;
}

.margin-bottom-x {
    margin-bottom: 0px;
}

.margin-left-x {
    margin-left: 0px;
}

.margin-1x {
    margin: 1.5em;
}

.margin-top-1x {
    margin-top: 1.5em;
}

.margin-right-1x {
    margin-right: 1.5em;
}

.margin-bottom-1x {
    margin-bottom: 1.5em;
}

.margin-left-1x {
    padding-left: 1.5em;
}

.margin-2x {
    margin: 2em;
}

.margin-top-2x {
    margin-top: 2em;
}

.margin-right-2x {
    margin-right: 2em;
}

.margin-bottom-2x {
    margin-bottom: 2em;
}

.margin-left-2x {
    margin-left: 2em;
}

.margin-3x {
    margin: 3em;
}

.margin-top-3x {
    margin-top: 3em;
}

.margin-right-3x {
    margin-right: 3em;
}

.margin-bottom-3x {
    margin-bottom: 3em;
}

.margin-left-3x {
    margin-left: 3em;
}

.align-center {
	text-align: center;
	vertical-align: center;
}

.img-caption {
	font-size: 12px;
	color: #aeaeae;
	font-style: italic;
	text-align: center;
	margin-bottom: 25px;
}


.andoquote {
    background: -webkit-linear-gradient(top,#37a2db,#297ba7) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-style: italic !important;
    font-weight: 400 !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    text-transform: uppercase !important;
    font-size: 2.5em !important;
    color: #37a2db !important;
    display: block !important;
    margin-bottom: 1.2rem !important;
    padding: 0 !important;

}

.andohead {
    background: -webkit-linear-gradient(top,#37a2db,#297ba7) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-style: italic !important;
    font-weight: 400 !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    text-transform: uppercase !important;
    font-size: 45px !important;
    color: #37a2db !important;
    display: block !important;
    margin-bottom: 1.2rem !important;
    padding: 0 !important;

}

.andosubhead {
color: #ffffff;
font-style: italic;
font-weight: lighter;
}


.head {
	background-color: #3393D0;
	min-height: 8%;
}

.headalt {
    background: rgba(0,0,0,.55);
    min-height: 8%;
    position: fixed;
    width: 100%;
    border: none;
}

.graybg {
	background-color: #e0e0e0;
}

.navbar-header img {
	max-height: 50px;
}

.navbar {
	padding:5px;
	margin-bottom: 0px;
}

.landing {
	height:100%;
}
.container-fluid {
	padding: 0px;
	overflow-x: hidden;						
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 
  display: flex;
  align-items: center;
 }

.andonav {
	float: right !important;
	display: flex;
}

.andonav a{
	color: #ffffff;
	font-size: 16px;
	padding: 0px 20px;
	vertical-align: center;
}

.andonav a:hover {
	color: #37a2db;
}

.andonav a:focus {
	color: #41bdff;
	outline: none;
	text-decoration: none;
}

.directorsocial .fa {
	padding: 0px 5px;
	color: #aeaeae;
}

.directorsocial .fa:hover {
	color: #3393D0;
}

.flexy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flexyflex {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer {
	display: flex;
	align-content: center;
	background-color: #323232;
	padding: 10px;
	font-size: 14px;
	color: #ffffff;
}

.footer hr {
	    width: 15%;
    color: #ffffff;
    padding: 0;
    margin: 10px auto;
}

.sponsorlogo {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.sponsorlogo:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.footer p {
	font-size: 14px;
}

.footer .fa {
	padding: 0px 5px;
	color: #ffffff;
}

.footer .fa:hover {
	color: #3393D0;
}

.youtubevid {
	margin: auto;
}

.navbar-default {
	border-color: #3393D0;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand  {
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 18px;
}

li.donatenav {
	color: #3393D0;
}

.featured {
	background-color: blue;
}

.donate {
	background: url(../images/IntroBackground.jpg) no-repeat fixed 50% 50% rgba(0,0,0,.75);
	background-blend-mode: multiply;
	background-size: cover;	
	/**background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	background-size: 100%;
	height:100vh;**/
	min-height: 92%;
	overflow-x: hidden; 
	overflow-y: hidden; 	
}

.competition{

	background: url(../images/kids.jpg) no-repeat fixed 50% 50% rgba(0,0,0,.65);
	background-blend-mode: multiply;
	background-size: cover;	
	background-color: 
	/**background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	background-size: 100%;
	height:100vh;**/
	min-height: 92%;
	overflow-x: hidden; 
	overflow-y: hidden; 
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 
  display: flex;
  align-items: center;
}


.instagram {
	min-height: 100px;
}




													/** styling for blog page**/

.blogintrocaption {
    top:0;
    left:45px;
    position: absolute;
    max-width: 95%;
}


.blog h1, .blog h2, .blog h3, .blog p, .blog h1 {
	padding:0 2%;
}

.blogposts img{
	margin-bottom: 2%;
}

.blogintroimg:hover {
	box-shadow: 0 .5em 2em rgba(0,0,0,0.4);
}

.subscribe{
	margin-top: 30px;
}

.post {
	min-height: 525px;
	line-height:1.7 !important;
	margin-bottom: 1%
}

.lead {
	margin-top: 2%;
}

													/**single post page styling**/

.singlepagepost img {
	margin-bottom: 3%;
}

.singlepagepost h2 {
	color: #999;
	padding: 1% 0 0 2%;
}

.singlepagepost p{
	padding:1% 0;
}

.singlepagepost {
	line-height: 30px;
}

.quote {
	padding-left: 5%;
}

.quote p {
	padding-top: 0;

}

.quote h2 {
	padding-left: 0;

}
.cta {
	padding: 3%;
	background-color: #DDD;
	border-radius: 3%;
}

.imagewrap {
	margin-right: 1%;
	padding-bottom: 0;
}

@media only screen and (max-width : 768px) {
.navbar-default .navbar-nav > li > a, .navbar-nav .dropdown-menu  > li > a   {
	color:black;
	background-color: white;
}

}

button {
	background-color: #3393D0;
	padding: 20px 80px;
	border-radius: 8px;
	border: none;
	margin-top: 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #3393D0;

}

button a {
	font-family: helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
}

button a:hover {
	text-decoration: none;
	color: #fff;
}

button:hover {
	background-color: transparent;
	border: 2px solid #3393D0;
	cursor: pointer;
}

button.da {
background-color: #3393D0;
	color: #ffffff;
	border-radius: 8px;
	border: none;
	margin-top: 25px;
	font-size: 18px;
	padding: 20px 80px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: background 0.4s;
}

button.da:hover {
	background-color: #2775a7;
	color: #ffffff;
	cursor: pointer;
}

.donateContent {
	position: relative;
	color: #fff;
	margin: auto;
}

.donateContent p {
	font-weight: 300;
	text-align: left;
}

li .donateLink {
	color: #3393D0 !important;
}

.donateLink:hover {
	color: #3393D0 !important;
}

.featured {
	/**height:100vh;**/
	background-color: #fff;
}

.featured h3 {
	font-size: 32px;
	font-weight: 400;
	color: #3393d0;
	margin-top: 5%;
	margin-bottom: 60px;
	min-height: 100%;		
}

.featured img {
	width: 100%;
	min-height: 50%;						/**so that things don't overlay on mobile**/
	border-radius: 0;
}

#FeaturedStory {
	padding-left: 20px;
	padding-right: 50px;
}

#FeaturedStory h4 {
	text-align: left;
	font-weight: 400;
	font-size: 32px;
	color: #505050;
	margin-top: 0;
}

#FeaturedStory hr {
	background-color: #3393d0;
	width: 15%;
	margin-left: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 5px;
}

h5 {
	font-size: 22px;
	font-weight: 600;
	color: #3393D0;
}

#FeaturedStory p {
	text-align: left;
}

a {
	color: #3393d0;
	text-decoration: none;
	font-size: 28px;
	font-weight: 500;
}

a:hover {
	color: #505050;
	text-decoration: none;
}

h4 {
	font-weight: 400;
	font-size: 32px;
	color: #505050;
}

.aboutus {
	padding: 35px 0px;
	background-color: #f9f9f9;
}

#FeaturedStory h5 {
	text-align: left;
	margin-top: 60px;
}

.alldirectors {
	margin: 35px 0px;
}


.director {
	margin-bottom: 50px;
}
 
 .img-circle {
    border-radius: 50%;
    width: 240px;
}

.title {
	font-size: 18px;
	font-weight: 600;
	color: gray;
}

hr {
background-color: #3393d0;
	width: 15%;
	height: 5px;
	align: center;
}

#aboutus p {
	text-align: center;
}

.donate p {
	color: white;
}

.blog {
	padding: 35px 0px;
	}

.blogimg {
	width: 380px;
}

.director p {
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	padding: 10px 35px 0px 35px;
}

form {
  margin: 10% auto;
  min-width: 9rem;
}
  
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: solid 1px #e0e0e0;
  margin: 0.5rem 0;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  
  &[type=submit] {
    background: $green;
    color: #fff;
    width: auto;
    float: right;
  }

  &::placeholder {
    color: darken(#f9f9f9, 50%);
  }

  &.error {
    background: $red;
    color: #fff;
    &::placeholder {
      color: darken($red, 60%);
    }
  
textarea {
  height: 30rem;
}
  
.contact {
	padding: 35px 0px;
	background-color: #f9f9f9;
}